{% extends 'nav.html' %}
{% load static %}
{% block content %}

<canvas id="aChart" width="4" height="3"></canvas>

<body>
    <form method="post" action="/submitchanges/{{data.data.id}}">
        {% csrf_token %}
        Date: <input type="date" name="EntryDate"/><br/>
        Meal: <select id="mealtype" name="mealtype">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="snack">Snack</option>
            <option value="dinner">Dinner</option>
        <br/>
        Food Item: <input type="search" name="food"/><br/>
        <a>Add New Food Item</a>
        Quantity: <input type="text" name="quantity"/><br/>
        Unit: <select id="unit" name="unit"/>
            <option value="gram">gram(s)</option>
            <option value="cup">cup(s)</option>
            <option value="slice">slice(s)</option>
            <option value="bowl">bowl(s)</option>
            <option value="plate">plate(s)</option>
            <option value="bag">bag(s)</option>
            <option value="piece">piece(s)</option>
            <option value="serving">serving(s)</option><br/>
        <input type="submit"/>
    </form>
    <div>
        <script>
            const cta = document.getElementById('aChart').getContext('2d');
            const aChart = new Chart(cta, {
                type: 'bar',
                data:  {
                    datasets: [{
                        labels:  [{% for data in data %} '{{data.actuals}}', {% endfor %}],
                        label: 'Your results',
                        data: [{% for data in data %} {{data.actuals}}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</body>
{% endblock %}