{% extends 'nav.html' %}
{% block content%}
    <form method="post" action="/addentry/">
        {% csrf_token %}
        Date: <input type="date" name="EntryDate"/><br/>
        Meal: <select name="meal" id="mealClass">
            {% for i in meals %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select><br/>
        <input type='hidden' id='foodID' name="foodID"/>
        Food Item: <input type="search" name="food" id="searchfood" hx-get="searchfood/" hx-trigger="keyup" hx-target="#results"/><br/>
        <div id='results'></div>
        <a>Add New Food Item</a><br/>
        Number of Servings: <input type='number' name="servings" value="0" min="0" max="10"/>
        <input type="submit"/>
    </form>
{% endblock %}
