<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/submitchanges/{{data.data.id}}">
        {% csrf_token %}
        Date: <input type="date" name="EntryDate"/><br/>
        Meal: <select id="mealtype" name="mealtype">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="snack">Snack</option>
            <option value="dinner">Dinner</option><br/>
        Food Item: <input type="search" name="food"/><br/>
        <a>Add New Food Item</a>
        Quantity: <input type="text" name="quantity"/><br/>
        Unit: <select id="unit" name="unit"/>
            <option value="gram">gram(s)</option>
            <option value="cup">cup(s)</option>
            <option value="slice">slice(s)</option>
            <option value="bowl">bowl(s)</option>
            <option value="plate">plate(s)</option>
            <option value="bag">bag(s)</option>
            <option value="piece">piece(s)</option>
            <option value="serving">serving(s)</option><br/>
        <input type="submit"/>
    </form>
    
</body>
</html>